/* Quita los botones del input type NUMBER */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-placeholder::placeholder {
  color: var(--textGray300Custom);
  /* Cambia 'red' por el color que prefieras */
  opacity: 1;
  /* Para que el color se vea claramente en todos los navegadores */
}

/* .hovered {
    background: rgb(226, 226, 226);
    transition: background 1s ease;
} */

.hovered {
  background: rgb(226, 226, 226);
  animation: backgroundTransition 1s ease;
}

@keyframes backgroundTransition {
  0% {
    background: transparent;
  }

  25% {
    background: rgb(226, 226, 226);
  }

  40% {
    background: transparent;
  }

  100% {
    background: rgb(226, 226, 226);
  }
}