/* .hovered {
    background: rgb(226, 226, 226);
    transition: background 1s ease;
} */

.hovered {
  background: rgb(226, 226, 226);
  animation: backgroundTransition 1s ease;
}

@keyframes backgroundTransition {
  0% {
    background: transparent;
  }

  25% {
    background: rgb(226, 226, 226);
  }

  40% {
    background: transparent;
  }

  100% {
    background: rgb(226, 226, 226);
  }
}
