@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

html {
  font-size: 16px;
  /* scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1; */
}

/* Personaliza el ancho y el color de la scrollbar */
::-webkit-scrollbar {
  width: 13px;  /* Ancho de la scrollbar */
  height: 13px;
}

/* Estilo de la pista (track) de la scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f1;  /* Color de fondo de la pista */
  border-radius: 10px;
}

/* Estilo del thumb de la scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #afafaf;  /* Color del thumb (la parte desplazable) */
  border-radius: 10px;     /* Bordes redondeados del thumb */
  /* Border tiene que ser el mismo que en background del track */
  border: 3px solid #f1f1f1;  /* Bordes del thumb */
  transition: background-color 3s ease;
}

/* Cambia el color del thumb cuando está siendo activamente desplazado */
::-webkit-scrollbar-thumb:hover {
  background-color: #8e8e8e;  /* Color del thumb al pasar el mouse */
  cursor: pointer;
}

:root {
  /* COLORS */
  --neonColor: #08fdd8;
  --neonColor2: rgba(88, 196, 220, 1);

  --pantoneMedium: rgb(14,78,103);
  --pantoneLight: rgb(0,110,127);
  --pantoneDark: rgb(0,83,102);

  --bgGrayDark: #23252F;
  --bgGrayMedium: #2B2D38;
  --bgGrayLight: #555b5d; /* test */

  --bgBlueDark: #073f51; /* test */
  --bgBlueMedium: #084c61;
  --bgBlueLight: #095b73;

  --bgReactBlueDark: rgb(88, 196, 220, 1);
  --bgReactBlueMedium: rgba(88, 175, 223, .1);

  --bgContainer: rgb(241, 245, 249);

  --textGray300Custom: rgb(161, 161, 161);
  --textGray500Custom: rgb(100, 116, 139);
  --textGray700Custom: rgb(51 65 85);

  --primaryColorBlue: #1877f2;

  /* SIZES */
  --navHeight: 56px;
  --navHeightMD: 64px;

  /* FONT SIZES */
  --customFontSizeXs: .75rem;
  --customFontSizeSm: .875rem;
}

.fontSM-Custom {
  font-size: var(--customFontSizeSm);
}

.fontXS-Custom {
  font-size: var(--customFontSizeXs);
}

.textGray-Custom {
  color: var(--textGray500Custom);
}

.textGray700-Custom {
  color: var(--textGray700Custom);
}

.textGray300-Custom {
  color: var(--textGray300Custom)
}

body {
  position: relative;
  background-color: pink;
  font-family: 'Poppins', 'Montserrat', sans-serif;
  /* color: black; */
}

.containerViewMain {
  padding: calc(var(--navHeightMD) + 20px) 40px 50px 300px;
  background-color: var(--bgContainer);
  min-height: calc(100vh);
}

/* TABLE */

.tableContainerMain {
  -webkit-box-shadow: 0px 0px 9px 2px rgba(148, 148, 148, 1);
  -moz-box-shadow: 0px 0px 9px 2px rgba(148, 148, 148, 1);
  box-shadow: 0px 0px 9px 2px rgba(148, 148, 148, 1);
  min-height: 50vh;
  overflow-x: auto;
  overflow-y: visible;
}

.tableContainerMainViewMain {
  border-collapse: separate;
  border-spacing: 0;
  min-width: 650px;
}

.tableHeadTitlesMain {
  font-weight: 500;
  letter-spacing: .05rem;
  line-height: 1rem;
  -webkit-box-shadow: 0px 3px 6px -1px rgba(148, 148, 148, .5);
  -moz-box-shadow: 0px 3px 6px -1px rgba(148, 148, 148, .5);
  box-shadow: 0px 3px 6px -1px rgba(148, 148, 148, .5);
}

.trBodyLinkNameMain {
  display: flex;
  align-items: center;
  color: #316bc9;
  font-weight: 600;
}

.trBodyLinkNameMain:hover {
  color: #316bc9;
}

/* ----------------------------------------------------- */

/* SPINNER */
.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.svgSize {
  width: 20px;
  height: 20px;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-shadow: none;
  color: black;
  text-decoration: none;
}

td {
  padding: 0;
}

.inputCheckBoxTableMain{
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.thSpacingMain {
  padding: 0.75rem 1.5rem;
}

.tdSpacingMain {
  padding: 1rem 1.5rem;
  /* padding: 0.75rem 1.5rem; */
}

.btnMoreActionsMain {
  /* background: #1876f224; */
  border-radius: 10%;
  height: 40px;
  width: 40px;
}

.btnMoreActionsMain:hover {
  background: #1876f224;
}

.productImgMain {
  width: 24px;
  margin-right: 5px;
}

/* sacar estilo bootstrap */
/* *.row {
  margin-right: 0px;
  margin-left: 0px;
} */

/* submenu de boton */
/* cotraparte de listMoreActions */

.submenuPruebaMain {
  min-width: 230px;
  position: absolute;
  z-index: 1000;
  top: -5%;
  right: 110%;
  border-radius: 5px;
  background-color: white;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease, visibility .5s ease;
  /* Configura la transición en la propiedad opacity */

  
  
}

/* Estilo cuando se oculta el submenu */
.submenuPruebaMain.mostrar {
  opacity: 1;
  visibility: visible;
}

.btnsMoreActionsContainerMain {
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(117, 117, 117, .4);
  -moz-box-shadow: 0px 0px 3px 0px rgba(117, 117, 117, .4);
  box-shadow: 0px 0px 3px 0px rgba(117, 117, 117, .4);
}

.btnActionMain {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 36px;
  /* border-radius: 5px; */
  /* padding-right: 150px; */
  /* padding-left: 20px; */
  padding: 0 16px;
  gap: 10px;
  width: 100%;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.btnActionMain:hover {
  background-color: rgba(0, 0, 0, 0.116);
}

.btnActionMain:hover svg {
  color: var(--textGray700Custom);
}

.customStylesNotification {
  /* font-size: 80px; */
  font-size: .8rem;
  min-width: 480px;
  max-width: 480px;
}



@media (max-width: 1000px) {
  .containerViewMain {
    padding: calc(var(--navHeightMD) + 20px) 40px 50px 300px;
    /* padding: calc(var(--navHeight) + 15px) 10px 150px 10px; */
    padding: calc(var(--navHeight) + 15px) 10px 10px 10px;
    /* padding-bottom: 130px; */
    min-height: calc(100vh);
  }

  .trBodyLinkNameMain {
    color: #316bc9;
    font-weight: 700;
  }
}